*{
    margin: 0;
    padding:0;
    overflow: hidden;
}

.nav { grid-area: header; }
.main {
    grid-area: main; 
    margin-top: -9.5vh;    
}
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-template-rows: 15vh 70vh 15vh;
    gap: 10px;
}

body {

}

.nav {
    background-image: url("./img/headerBG.png");
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 45%;
    padding-top: 20px;

}
.logo {
    width:140px;
    height: 80px;
    padding: 20px;
    margin-bottom: -2.5vh;
}
.button {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 25px;
    font-size: 22px;
    color: white;
}
.btn {
    display:flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    border-radius: 1vw;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: red;
}

.slider { grid-area: slider; }
.info { grid-area: info; }
.ads { grid-area: ads; }


.main {
    display: grid;
    grid-template-areas:
      'slider slider slider slider'
      'info info info ads';
    grid-template-rows: 50vh auto;
    gap: 10px;
    margin-top: -70px;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes imageSlider {
    0% {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(-90deg);
    }
    30% {
        transform: rotateY(-90deg);
    }
    40% {
        transform: rotateY(-180deg);
    }
    50% {
        transform: rotateY(-180deg);
    }
    60% {
        transform: rotateY(-270deg);
    }
    70% {
        transform: rotateY(-270deg);
    }
    80% {
        transform: rotateY(-360deg);
    }
    90% {
        transform: rotateY(-360deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}